[submodule "pack/testing/opt/gruvbox"]
	path = pack/testing/opt/gruvbox
	url = git@codeberg.org:fitiavana/gruvbox.git
[submodule "pack/testing/opt/coc.nvim"]
	path = pack/testing/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/testing/start/vim-snipmate"]
	path = pack/testing/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/testing/start/vim-addon-mw-utils"]
	path = pack/testing/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
