[submodule "pack/testing/opt/gruvbox"]
	path = pack/testing/opt/gruvbox
	url = git@codeberg.org:fitiavana/gruvbox.git
[submodule "pack/testing/opt/coc.nvim"]
	path = pack/testing/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/testing/start/vim-snipmate"]
	path = pack/testing/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/testing/start/vim-addon-mw-utils"]
	path = pack/testing/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/testing/start/nerdtree"]
	path = pack/testing/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/testing/start/vim-snippets"]
	path = pack/testing/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/testing/start/vim-which-key"]
	path = pack/testing/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "pack/testing/start/fugitive"]
	path = pack/testing/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/testing/start/vimspector"]
	path = pack/testing/start/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/testing/start/vim-graphql"]
	path = pack/testing/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
